<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-calendar modal-icon"></i>
        <h4 class="modal-title">New Event {{ asd }}</h4>
    </div>
    <div class="modal-body">
        <p><strong>Event Title</strong></p>
        <div class="form-group"><input type="text" placeholder="Enter Event Title" class="form-control" ng-model="name"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="createEvent()">Add Event</button>
    </div>
</div>
