<html>
    <head>
        <style>
            body {
                font-size: 0.2in
            }
            @media print {
                @page {
                    size: A4 portrait;
                }
            }
            table {
                border-collapse: collapse;
                width: 100%;
            }
        </style>
    </head>
    <body ng-app="carpapapa" ng-controller="printController" style="font-family:Arial,'Helvetica Neue',Helvetica,sans-serif; position:relative;">
        <b style="font-size:0.3in">
            {{data.year}} {{data.model}}
        </b>
        <div style="float:right">
            <img style="max-height:0.5in; max-width:0.5in" src="/images/logos/CARPAPAPA_LOGO.png">
        </div>
        <div style="margin-top:0.1in;border:1px solid">
            <div style="padding:0.1in;border-bottom: 1px solid">
                <div>
                    <div style="display:inline-block; vertical-align:top">
                        <img style="max-height:4in; max-width:4in" ng-src="{{images[0][0].path}}">
                    </div>
                    <div style="display:inline-block; vertical-align:top;">
                        <div style="font-weight:bold">Vehicle Specifications</div>
                        <table id="customers" style="border-top:1px solid #ddd; margin-top:0.1in">
                            <tr ng-if="data.vin" style="border-bottom:1px solid #ddd">
                                <td style="border-right:1px solid #ddd; padding:0.05in">
                                    VIN:
                                </td>
                                <td style="padding:0.05in">
                                    {{data.vin}}
                                </td>
                            </tr>
                            <tr ng-if="data.mileage" style="border-bottom:1px solid #ddd">
                                <td style="border-right:1px solid #ddd; padding:0.05in">
                                    Odometer:
                                </td>
                                <td style="padding:0.05in">
                                    {{data.mileage}} mi
                                </td>
                            </tr>
                            <tr ng-if="data.engine" style="border-bottom:1px solid #ddd">
                                <td style="border-right:1px solid #ddd; padding:0.05in">
                                    Engine:
                                </td>
                                <td style="padding:0.05in">
                                    {{data.engine}}
                                </td>
                            </tr>
                            <tr ng-if="data.horsePower" style="border-bottom:1px solid #ddd">
                                <td style="border-right:1px solid #ddd; padding:0.05in">
                                    Horsepower:
                                </td>
                                <td style="padding:0.05in">
                                    {{data.horsePower}}
                                </td>
                            </tr>
                            <tr ng-if="data.torque" style="border-bottom:1px solid #ddd">
                                <td style="border-right:1px solid #ddd; padding:0.05in">
                                    Torque:
                                </td>
                                <td style="padding:0.05in">
                                    {{data.torque}}
                                </td>
                            </tr>
                            <tr ng-if="data.mpgCity && data.mpgHighway" style="border-bottom:1px solid #ddd">
                                <td style="border-right:1px solid #ddd; padding:0.05in">
                                    MPG:
                                </td>
                                <td style="padding:0.05in">
                                    {{data.mpgCity | number:0}} city / {{data.mpgHighway | number:0}} highway
                                </td>
                            </tr>
                            <tr ng-if="data.drivetrain" style="border-bottom:1px solid #ddd">
                                <td style="border-right:1px solid #ddd; padding:0.05in">
                                    Drivetrain:
                                </td>
                                <td style="padding:0.05in">
                                    {{data.drivetrain}}
                                </td>
                            </tr>
                        </table>
                        <div style="margin-top:0.1in">
                            <img style="max-height:1in; max-width:1.5in; display:table; margin:0 auto" ng-src="{{brandLogo}}">
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>
            <div style="padding:0.1in;border-bottom: 1px solid">
                <div style="font-weight:bold; padding-bottom:0.1in">
                    Additional Upgrades
                </div>
                <div style="padding-bottom:0.1in">
                    <table style="border-top:1px solid #ddd; border-bottom:1px solid #ddd">
                        <tr style="border-bottom:1px solid #ddd" ng-repeat="optionRow in options">
                            <td style="padding:0.08in; font-size:0.8em" ng-repeat="optionCol in optionRow">
                                {{optionCol.option}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div style="padding:0.1in">
                <div style="font-weight:bold; padding-bottom:0.1in">
                    Additional Photos
                </div>
                <table style="width:100%">
                    <tr ng-repeat="imgRow in images">
                        <td ng-repeat="imgCol in imgRow">
                            <img style="max-width:100%" ng-src="{{imgCol.path}}">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script src="/js/angular/angular.min.js"></script>
        <script>
            var carpapapa = angular.module("carpapapa", []);
            carpapapa.controller("printController", function($scope, $http, $location) {
                $http({
                    method: 'GET',
                    url: 'http://localhost:8081/products/' + $location.search().id
                }).then(function success(response) {
                    $scope.data = response.data;
                    $scope.brandLogo = '/images/logos/' + response.data.make.toUpperCase().replace(/\s+/g, '_') + '_LOGO.png';
                    $scope.options = [];
                    $scope.images = [];

                    var optionRow = [];
                    angular.forEach(response.data.options, function(option, index) {
                        if (index % 4 == 0) {
                            optionRow = [];
                            $scope.options.push(optionRow);
                        }
                        optionRow.push(option);
                    })

                    if (optionRow.length < 4) {
                        var length = 4 - optionRow.length;
                        for (i = 0; i < length; i++) {
                            optionRow.push({});
                        }
                    }

                    var imgRow = [];
                    var imgCount = 0;
                    angular.forEach(response.data.images, function(image) {
                        if (image.type == 'DEFAULT') {
                            if (imgCount % 3 == 0) {
                                imgRow = [];
                                $scope.images.push(imgRow);
                            }
                            imgRow.push(image);
                            imgCount++;
                        }
                    })
                });
            })
        </script>
    </body>
</html>
