<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Product edit</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>E-commerce</a>
            </li>
            <li class="active">
                <strong ng-if="id">Product update</strong>
                <strong ng-if="!id">Product create</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div ng-if="id" class="row" style="padding-bottom:20px">
        <div class="col-lg-6">
            <div>
                <button type="button" ng-click="print(id)" class="btn btn-block btn-primary"><i class="fa fa-print" aria-hidden="true"></i> Summary</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div>
                <button type="button" ng-click="retailView(id)" class="btn btn-block btn-primary"><i class="fa fa-file-text-o" aria-hidden="true"></i> Retail View</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <uib-tabset>
                    <uib-tab>
                        <uib-tab-heading>
                            Product info
                        </uib-tab-heading>
                        <div class="panel-body">
                            <fieldset class="form-horizontal">
                                <div class="form-group"><label class="col-sm-2 control-label">Live:</label>
                                    <div class="col-sm-10">
                                        <div class="switch">
                                            <div class="onoffswitch">
                                                <input type="checkbox" checked class="onoffswitch-checkbox" id="onoff" ng-init="product.state = product.state || false" ng-model="product.state">
                                                <label class="onoffswitch-label" for="onoff">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Status:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" ng-init="product.status = product.status || 'INVENTORY'" ng-model="product.status">
                                            <option>INVENTORY</option>
                                            <option>PENDING</option>
                                            <option>SOLD</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">* Make:</label>
                                    <div class="col-sm-10"><input type="text" placeholder="'BMW'" class="form-control" ng-model="product.make" uib-typeahead="brand for brand in manufacturerBrands | filter:$viewValue | limitTo:8" style="text-transform:uppercase"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">* Model:</label>
                                    <div class="col-sm-10"><input type="text" placeholder="'328i'" class="form-control" ng-model="product.model"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">* VIN: </label>
                                    <div class="col-sm-10"><input type="text" placeholder="'19UYA31581L000000'" class="form-control" ng-model="product.vin" style="text-transform:uppercase"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">* Exterior Color:</label>
                                    <div class="col-sm-10"><input type="text" placeholder="'BLACK'" class="form-control" ng-model="product.exColor" style="text-transform:uppercase"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">* Interior Color:</label>
                                    <div class="col-sm-10"><input type="text" placeholder="'BLACK'" class="form-control" ng-model="product.inColor" style="text-transform:uppercase"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">* Year:</label>
                                    <div class="col-sm-10"><input type="text" placeholder="'2017'" class="form-control" ng-model="product.year"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">* Mileage:</label>
                                    <div class="col-sm-10"><input type="text" placeholder="'2000'" class="form-control" ng-model="product.mileage"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">* Price:</label>
                                    <div class="col-sm-10"><input type="text" placeholder="'2000'" class="form-control" ng-model="product.price"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Engine:</label>
                                    <div class="col-sm-10"><input type="text" placeholder="'3.6 V6'" class="form-control" ng-model="product.engine"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Horse Power:</label>
                                    <div class="col-sm-10"><input type="text" placeholder="'355'" class="form-control" ng-model="product.horsePower"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Torque:</label>
                                    <div class="col-sm-10"><input type="text" placeholder="'300'" class="form-control" ng-model="product.torque"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Drivetrain:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="product.drivetrain">
                                            <option>Front Wheel Drive</option>
                                            <option>Rear Wheel Drive</option>
                                            <option>Four Wheel Drive</option>
                                            <option>All Wheel Drive</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">MPG City:</label>
                                    <div class="col-sm-10"><input type="text" placeholder="'19'" class="form-control" ng-model="product.mpgCity"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">MPG Highway:</label>
                                    <div class="col-sm-10"><input type="text" placeholder="'23'" class="form-control" ng-model="product.mpgHighway"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Description:</label>
                                    <div class="col-sm-10">
                                        <!-- <div summernote class="summernote"  ng-model="product.description">
                                        </div> -->
                                        <textarea class="form-control" rows="5" ng-model="product.description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="pull-right">
                                            <button class="btn btn-white" type="submit">Cancel</button>
                                            <button ng-if="!id" class="btn btn-primary" type="submit" ng-click="createProduct(product)"><i ng-class="createStatus" aria-hidden="true"></i> Create</button>
                                            <button ng-if="id" class="btn btn-danger" type="submit" ng-click="deleteProductById(id)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                                            <button ng-if="id" class="btn btn-primary" type="submit" ng-click="updateProduct(product)"><i ng-class="updateStatus" aria-hidden="true"></i> Update</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </uib-tab>
                    <uib-tab ng-show="product.id" active="showImageTab">
                        <uib-tab-heading>
                            Images
                        </uib-tab-heading>
                        <div class="panel-body">
                            <div class="row simpleDemo">
                                <div class="col-sm-12">
                                    <h3 style="font-weight:bold">Icon</h3>
                                    <p>Size: 356x390</p>
                                    <ul ng-if="icons.length > 0" dnd-list="icons" style="list-style-type:none;padding:0;">
                                        <li ng-repeat="icon in icons">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <img ng-src="{{icon.path}}?{{timeStamp}}" width="137px">
                                                </div>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" disabled ng-model="icon.path">
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="pull-right">
                                                        <button class="btn btn-white" ng-click="deleteImage(icon.id)"><i class="fa fa-trash"></i> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row simpleDemo" style="margin-top:30px">
                                <div class="col-sm-12">
                                    <h3 style="font-weight:bold">Pending Icons</h3>
                                    <ul ng-if="pendingIcons.length > 0" dnd-list="pendingIcons" style="list-style-type:none;padding:0;">
                                        <li ng-repeat="pending in pendingIcons">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <img ng-src="{{pending.path}}" width="137px">
                                                </div>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" disabled ng-model="pending.path">
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="pull-right">
                                                        <button class="btn btn-white" ng-click="cropImage(pending)"><i class="fa fa-crop"></i> </button>
                                                        <button class="btn btn-white" ng-click="deleteImage(pending.id)"><i class="fa fa-trash"></i> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput"><i class="fa fa-files-o fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                        <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" ngf-select ng-model="imgFiles" name="..." accept="image/*" ngf-max-size="10MB" multiple></span>
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                                <div class="col-md-1 form-inline">
                                    <div class="pull-right">
                                        <button class="btn btn-primary" type="submit" ng-click="addImage(product, imgFiles, 'ICON')"><i ng-class="createImageStatus" aria-hidden="true"></i> Upload</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row simpleDemo" style="margin-top:30px">
                                <div class="col-sm-12">
                                    <h3 style="font-weight:bold">Images</h3>
                                    <p>Size: 553x484</p>
                                    <ul ng-if="images.length > 0" dnd-list="images" style="list-style-type:none;padding:0;">
                                        <li ng-repeat="image in images"
                                            dnd-draggable="image"
                                            dnd-moved="images.splice($index, 1)"
                                            dnd-effect-allowed="move"
                                            dnd-selected="models.selected = image"
                                            ng-class="{'selected': models.selected === image}">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <img ng-src="{{image.path}}?{{timeStamp}}" width="137px">
                                                </div>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" disabled ng-model="image.path">
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="pull-right">
                                                        <button class="btn btn-white" ng-click="deleteImage(image.id)"><i class="fa fa-trash"></i> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row simpleDemo" style="margin-top:30px">
                                <div class="col-sm-12">
                                    <h3 style="font-weight:bold">Pending Images</h3>
                                    <ul ng-if="pendingImages.length > 0" dnd-list="pendingImages" style="list-style-type:none;padding:0;">
                                        <li ng-repeat="pending in pendingImages">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <img ng-src="{{pending.path}}" width="137px">
                                                </div>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" disabled ng-model="pending.path">
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="pull-right">
                                                        <button class="btn btn-white" ng-click="cropImage(pending)"><i class="fa fa-crop"></i> </button>
                                                        <button class="btn btn-white" ng-click="deleteImage(pending.id)"><i class="fa fa-trash"></i> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput"><i class="fa fa-files-o fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                        <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" ngf-select ng-model="imgFiles" name="..." accept="image/*" ngf-max-size="10MB" multiple></span>
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                                <div class="col-md-1 form-inline">
                                    <div class="pull-right">
                                        <button class="btn btn-primary" type="submit" ng-click="addImage(product, imgFiles, 'DEFAULT')"><i ng-class="createImageStatus" aria-hidden="true"></i> Upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab ng-show="product.id">
                        <uib-tab-heading>
                            Options
                        </uib-tab-heading>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3 style="font-weight:bold">Exterior Options</h3>
                                    <ul class="todo-list m-t">
                                        <li ng-repeat="option in exteriorOptions">
                                            <input icheck type="checkbox" ng-change="selectExteriorOptions(option)" ng-model="selectedExteriorOptions[option]">
                                            <span class="m-l-xs">{{option}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row" style="margin-top:30px">
                                <div class="col-sm-12">
                                    <h3 style="font-weight:bold">Interior Options</h3>
                                    <ul class="todo-list m-t">
                                        <li ng-repeat="option in interiorOptions">
                                            <input icheck type="checkbox" ng-change="selectInteriorOptions(option)" ng-model="selectedInteriorOptions[option]">
                                            <span class="m-l-xs">{{option}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row" style="margin-top:30px">
                                <div class="col-sm-12">
                                    <h3 style="font-weight:bold">Safety Options</h3>
                                    <ul class="todo-list m-t">
                                        <li ng-repeat="option in safetyOptions">
                                            <input icheck type="checkbox" ng-change="selectSafetyOptions(option)" ng-model="selectedSafetyOptions[option]">
                                            <span class="m-l-xs">{{option}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row" style="margin-top:15px">
                                <div class="col-sm-12">
                                    <div class="pull-right">
                                        <button ng-if="id" class="btn btn-primary" type="submit" ng-click="updateOptions(product.id)"><i ng-class="updateOptionsStatus" aria-hidden="true"></i> Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab ng-show="product.id">
                        <uib-tab-heading>
                            Offer
                        </uib-tab-heading>
                        <div class="panel-body">
                            <fieldset class="form-horizontal">
                                <div class="form-group"><label class="col-sm-2 control-label">* Customer Name:</label>
                                    <div class="col-sm-10"><input type="text" placeholder="'Name'" class="form-control" ng-model="offer.customerName" style="text-transform:uppercase"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">* Sales Name:</label>
                                    <div class="col-sm-10"><input type="text" placeholder="'Name'" class="form-control" ng-model="offer.salesName" style="text-transform:uppercase"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Discount:</label>
                                    <div class="col-sm-10"><input type="text" placeholder="'3000'" class="form-control" ng-model="offer.discount"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">APR:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" ng-model="offer.apr"></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="pull-right">
                                            <button ng-if="id" class="btn btn-primary" type="submit" ng-click="offerSummary(product.id, offer)"><i class="fa fa-print" aria-hidden="true"></i> Offer</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>

</div>
